{% extends './base.html' %}
{% block content %}
  <div class="card">
    <h1 class="card-title text-center"> Current Todo List </h1>
    <h2 class="bg-danger text-center">{{ message }} </h2>
    <ul class="unstyled">
    {% for todo in todos %}
        <li class="card-body">
        <a class="card-link" href="{% url 'todoview' todo.id %}">
            {% if todo.important %}<b>{% endif %}
               <span class="card-title"> {{ todo.title }}</span>
        </a>
         - <small class="text-muted">{{ todo.datecompleted | date:'M j Y H:i' }}</small>
        </li>
    {% endfor %}
    </ul>
    <div>
{% endblock %}
